<aside class="mdc-drawer mdc-drawer--temporary mdc-typography app-drawer">
	<nav class="mdc-drawer__drawer">
		<header class="mdc-drawer__header">
			<div class="mdc-drawer__header-content mdc-theme--text-primary-on-primary mdc-theme--primary-bg">
				<div class="header-logo">	
					<img src="images/logo.png" alt="">
				</div>
			</div>
		</header>
		<nav class="mdc-drawer__content mdc-list-group">
			<div id="icon-with-text-demo" class="mdc-list">
				<a class="mdc-list-item" ui-sref="contas" ui-sref-active="mdc-list-item" mdc-ripple>
					<i class="material-icons mdc-list-item__graphic" aria-hidden="true">description</i>Contas
				</a>
			</div>

			<hr class="mdc-list-divider">

			<div class="mdc-list">
				<a class="mdc-list-item"  ui-sref="configuracoes" ui-sref-active="mdc-list-item--selected" mdc-ripple>
					<i class="material-icons mdc-list-item__graphic" aria-hidden="true">settings</i>Configurações
				</a>
				<a class="mdc-list-item" ui-sref="login" mdc-ripple>
					<i class="material-icons mdc-list-item__graphic" aria-hidden="true">exit_to_app</i>Sair
				</a>
			</div>
		</nav>
	</nav>
</aside>